/** body **/
body {
	font-family: "Times New Roman", Times, serif;
	height: 100%;
	margin: auto;
	padding: auto;
	background: #F5F5F5;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #F2F2F2);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #F2F2F2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

html{
   height:100%;
   width:100%;
}

html, body{
  	padding: 0;
  	margin: 0;
  	font-family: 'Raleway', sans-serif;
  	background: #F5F5F5;
}

#message {
	position: absolute;
	bottom: 0px;
	z-index: 1;
	left: 10px;
}
