<div class="container" id="admin_home">
	<p class='text-center'>How would you like to use Dyn<span>.</span>Co?</p>
	<div class="tab-content" id="pills-tabContent">
		<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
			<div class="row">
				<div class="col-sm card text-center border-0 p-3 mb-5 bg-white rounded">
					<div class="card-body">
						<i class="fa fa-comments-o fa-4x"></i>
						<h5 class="card-title">Crowdsource questions</h5>
				     	<p>Let your audience submit their questions and up-vote the best ones</p>
				     	<div class="text-center" id="go_to_questions"><a href="">Go to questions</a></div>
				  	</div>
				</div>
				<div class="col-sm card text-center border-0 p-3 mb-5 bg-white rounded">
					<div class="card-body">
						<i class="fa fa-bar-chart fa-4x"></i>
						<h5 class="card-title">Run live polls</h5>
				     	<p>Create simple mutiple-choice poll, survey or stunning wordcloud</p>
				     	<div class="text-center" id="create_poll"><a href="">Create a poll</a></div>
				  	</div>
				</div>
				<div class="col-sm card text-center border-0 p-3 mb-5 bg-white rounded">
					<div class="card-body">
						<i class="fa fa-lightbulb-o fa-4x"></i>
						<h5 class="card-title">Get inspired</h5>
				     	<p>Discover how others use Slido to make their events more interactive</p>
				     	<div class="text-center" id="browse_use_cases"><a href="">Browse use cases</a></div>
				  	</div>
				</div>
			</div>
		</div>
		<p class='text-center' style="font-size: 20px;color: #949494;">Do you have any questions?</p>
		<div class="text-center" id="open_help_center"><a href="">Open Help Center</a></div>
	</div>
</div>