<div class="dropdown dropdown-menu-right">
  	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" id="user-dropdown-menu">
        <a class="dropdown-item" href="#">
          	<i class="fa fa-user" id="user-icon"></i>
          	<p class="position-absolute" id="profile-username">{{first_name}}&nbsp;{{last_name}}</p>
          	<p class="position-absolute" id="profile-email">{{email}}</p>
          	<p class="position-absolute" id="edit">EDIT</p>
        </a>
        <div class="dropdown-divider divider"></div>
        	<p class="dropdown-header profile-header">{{email}}</p>
        	<a class="dropdown-item item" href="{{ url_for('event_dashboard') }}"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; My events</a>
        	<a class="dropdown-item item" href="" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-plus fa-fw"></i>&nbsp; Create event</a>
        	<a class="dropdown-item item" href="#"><i class="fa fa-building fa-fw" aria-hidden="true"></i>&nbsp; Organization settings</a>
        	<a class="dropdown-item item" href="#"><i class="fa fa-users fa-fw" aria-hidden="true"></i>&nbsp; User management</a>
        	<a class="dropdown-item item" href="#"><i class="fa fa-line-chart fa-fw" aria-hidden="true"></i>&nbsp; Account analytics</a>
        <div class="dropdown-divider divider"></div>  
        	<a class="dropdown-item item" href="#"><i class="fa fa-arrow-circle-o-up fa-fw" aria-hidden="true"></i>&nbsp; Upgrade</a>
        	<a class="dropdown-item item" href="#"><i class="fa fa-question-circle-o fa-fw" aria-hidden="true"></i>&nbsp; Help center</a>
        	<a class="dropdown-item item" href="#"><i class="fa fa-exclamation-circle fa-fw" aria-hidden="true"></i>&nbsp; Tutorials</a>
        	<a class="dropdown-item item" href="{{ url_for('logout') }}"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; Logout</a>
    </div>
</div>